<div id="banner">
<center><h1> Welcome to Tactical Warfare! </h1></center>
</div>

<center><% if !@user.nil? %>
<p style="color:red;">Already Signed In!</p>
<%= button_to "Continue", user_path(@user), method: :get, class: "button" %> <br>
<%= button_to 'Sign Out', "/logout", method: :delete, class: "button" %>
<% else %>
<%= button_to "Sign Up!", "/sign_up", method: :get, class: "button" %> <br>
<%= button_to "Sign In!", "/login", method: :get, class: "button" %> <br>
<% end %>
</center>

<div class="green-bg">
<center><h2>Future Updates:</h2><br></center>
</div>
<ul>
<li> Messaging Feature </li>
<li> Different Battle Types (including naval invasions)</li>
<li> Alliances</li>
<li> Game Rounds </li>
<li> Resource System </li>
<li> MANY more units with unique bonuses</li>
<li> Researchable Tech (using labs) </li>
<li> Report/Message Notifications </li>
<li> Recruit/Build by number rather than turns used </li>
<li> Unit Decomission</li>
<li> Attack Range by Score </li>
<li> Espionage </li>
<li> Missiles </li>
<li> Government Types with Bonuses </li>
<li> Public Opinion with Nationwide Effects </li>
</ul>

<center><details>
  <summary><b>Update Logs</b></summary>

  <li><b>04/08/2023</b> Fix battle report casualites (defender retaliation was being counted as attacker kills)</li>
  <li><b>03/08/2023</b> Add basic research for nations</li>
  <li><b>29/07/2023</b> Adjust infrastructure upkeep and add building demo</li>
  <li><b>26/07/2023</b> Add battle loot and battle victor and adjust combat logic</li>
</details>
</center>