<h1> Welcome to Tactical Warfare! </h1>

<% if !@user.nil? %>
<p>Already Signed In</p>
<%= button_to "Continue", user_path(@user), method: :get %> <br>
<%= button_to 'Sign Out', "/logout", method: :delete %>
<% else %>
<%= button_to "Sign Up!", "/sign_up", method: :get %> <br>
<%= button_to "Sign In!", "/login", method: :get %> <br>
<% end %>


<h4>Future Updates:</h4><br>
<ul>
<li> Messaging Feature </li>
<li> Alliances</li>
<li> Game Rounds </li>
<li> Resource System </li>
<li> MANY more units with unique bonuses</li>
<li> Researchable Tech (using labs) </li>
<li> Report/Message Notifications </li>
<li> Recruit/Build by number rather than turns used </li>
<li> Unit Decomission and Building Demo </li>
<li> Attack Range by Score </li>
<li> Espionage </li>
<li> Missiles </li>
<li> Government Types with Bonuses </li>
<li> Public Opinion with Nationwide Effects </li>
</ul>